<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 权限mapper -->
<mapper namespace="com.ygxc.aqjy.dao.AuthDao">
	<resultMap id="BaseMap" type="com.ygxc.aqjy.entity.user.AuthEntity"/>
	<parameterMap id="BaseMap" type="com.ygxc.aqjy.entity.user.AuthEntity"/>

	<!-- 查询角色的权限编号列表 -->
	<select id="queryRoleAuthCodeList" resultType="string">
		select distinct t.code from t_auth t
		join t_role_auth tra on tra.auth_id = t.id
		where t.is_delete = 0 and tra.role_id = #{roleId}
		order by t.sort
	</select>
	
	<!-- 查询角色的权限url列表 -->
	<select id="queryRoleAuthUrlList" resultType="string">
		select distinct t.url from t_auth t
		join t_role_auth tra on tra.auth_id = t.id
		where t.is_delete = 0 and tra.role_id = #{roleId}
		order by t.sort, t.create_time
	</select>
	
	<!-- 查询角色的权限树列表 -->
	<select id="queryRoleAuthTreeList" resultMap="BaseMap">
		select distinct t.* from t_auth t
		join t_role_auth tra on tra.auth_id = t.id
		where t.is_delete = 0 and tra.role_id = #{roleId}
		order by t.sort, t.create_time
	</select>
	
	<!-- 查询权限树列表，角色相关信息 -->
	<select id="queryAuthTreeForRoleList" 
		resultType="com.ygxc.aqjy.rsp.user.AuthTreeForRoleDto">
		select t.*, (select if(count(1) = 0, 0, 1) from t_role_auth tra 
				where tra.auth_id = t.id and tra.role_id = #{roleId}
			) as isAuth
		from t_auth t
		where t.is_delete = 0
		order by t.sort, t.create_time
	</select>
</mapper>
