<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 用户mapper -->
<mapper namespace="com.ygxc.aqjy.dao.UserDao">
	<resultMap id="BaseMap" type="com.ygxc.aqjy.entity.user.UserEntity"/>
	<parameterMap id="BaseMap" type="com.ygxc.aqjy.entity.user.UserEntity"/>

	<!-- 查询用户列表 -->
	<select id="queryUserList" resultMap="BaseMap">
		select t.* from t_user t
		<where>
			t.is_delete = 0
			<if test="req.name != null and req.name != ''">
				and t.name = #{req.name}
			</if>
			<if test="req.username != null and req.username != ''">
				and t.username = #{req.username}
			</if>
			<if test="req.userNo != null and req.userNo != ''">
				and t.user_no = #{req.userNo}
			</if>
			<if test="req.roleId != null and req.roleId != ''">
				and t.role_id = #{req.roleId}
			</if>
		</where>
		order by t.create_time desc
	</select>
	
	<!-- 登录查询用户 -->
	<select id="findUserByLogin" resultType="com.ygxc.aqjy.rsp.user.UserLoginDto">
		select t.* from t_user t
		where t.is_delete = 0 and t.username = #{username}
	</select>
</mapper>
